/* Overrides */

body {
  text-align: center;
  background-image: radial-gradient( #7e19b0 10%, #fa6c00) ;
}

.btn-primary-home {
  background-color: #1AC747;
  border-radius: 200px; 
  border: 10px solid black;
  width: 345px;
  height: 250px;
  font-family: 'Grandstander', cursive;
  font-size: 180px;
  color:  #5F2699;
  -webkit-text-stroke: 10px black;
  
}

.btn-primary-question {
  background-color: #1AC747;
  border-radius: 200px; 
  border: 10px solid black;
  width: 345px;
  height: 250px;
  font-family: 'Grandstander', cursive;
  font-size: 180px;
  color:  #5F2699;
  -webkit-text-stroke: 10px black;
  
}

.font-home {
  font-family: 'Grandstander', cursive;
  font-size: 210px;
  color: #1AC747;
  -webkit-text-stroke: 10px black;
}

.font-question {
  font-family: 'Grandstander', cursive;
  font-size: 210px;
  color: #5F2699;
  -webkit-text-stroke: 10px black;
}

.font-answer {
  font-family: 'Grandstander', cursive;
  font-size: 80px;
  color: #5F2699;
  -webkit-text-stroke: 10px black;
}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  body {
    text-align: left;
  }  
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  body {
    text-align: left;
  } 
}
