/* Overrides */

body {
  text-align: center;
  background-image: radial-gradient( #7e19b0 10%, #fa6c00);
  vertical-align: middle;
}

.btn-primary-home {
  background-color: #1AC747;
  border-radius: 200px; 
  border: 10px solid black;
  width: 345px;
  height: 250px;
  font-family: 'Grandstander', cursive;
  font-size: 180px;
  color:  #5F2699;
  -webkit-text-stroke: 10px black;
  
}

.btn-primary-question {
  background-color: #1AC747;
  border-radius: 200px; 
  border: 10px solid black;
  width: 345px;
  height: 250px;
  font-family: 'Grandstander', cursive;
  font-size: 180px;
  color:  #5F2699;
  -webkit-text-stroke: 10px black;
  
}


.btn-primary-answer {
  background-color: #1AC747;
  border-radius: 200px; 
  border: 10px solid black;
  width: 460px;
  height: 200px;
  font-family: 'Grandstander', cursive;
  font-size: 120px;
  color:  #5F2699;
  -webkit-text-stroke: 10px black;
  
}

.font-home {
  font-family: 'Grandstander', cursive;
  font-size: 210px;
  color: #1AC747;
  -webkit-text-stroke: 10px black;
}

.font-question {
  font-family: 'Grandstander', cursive;
  font-size: 210px;
  color: #5F2699;
  -webkit-text-stroke: 10px black;
}

.font-answer {
  font-family: 'Grandstander', cursive;
  font-size: 120px;
  color: #1AC747;
  -webkit-text-stroke: 10px black;
}

p{
  font-family: 'Grandstander', cursive;
  font-size: 50px;
  color: #1AC747;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 320px) { }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  body {
    text-align: center;
    vertical-align: middle;
  }  
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  body {
    text-align: center;
    vertical-align: middle;
  } 
}
